
.card {
  border-radius: 10px !important;
}
.card-header {
  background-color: #212ea0 !important;
  color: white !important;
}

.card-body ul {
  list-style-type: none !important;
  padding: 0 !important;
}

.card-body li {
  color: #676767 !important;
  margin-bottom: 5px !important;
}
